.wd-modules,
.wd-modules ul,
.wd-modules li {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules > li {
  background-color: lightgray;
  border-left: none !important;
  margin-bottom: 20px;
}

.wd-modules li > div {
  padding: 16px;
}
.wd-modules > li li > div {
  padding-left: 12px;
}

.wd-modules > li > ul {
  border-left: 4px solid green;
}
.wd-modules > li li {
  border-bottom: 1px solid lightgray !important;
  border-right: 1px solid lightgray !important;
}

.wd-modules > li > div > svg {
  color: gray;
}
.wd-modules li li div > svg {
  color: black;
}

.wd-modules li li div > span > svg {
  color: black;
}
.wd-modules > li > div > span > svg {
  color: grey;
  margin-left: 8px;
}

button svg {
  margin-right: 8px;
  vertical-align: text-bottom;
}
