.wd-dashboard .card-body a.card-title {
  text-decoration: none;
  font-weight: bold;
  display: block;
  line-height: 1.2em;
  height: 2.4em;
}

.wd-dashboard .d-flex div {
  width: 260px;
}

.wd-dashboard .card img {
  max-height: 150px;
  object-fit: cover;
}
