.wd-course-home .wd-button-primary {
  background-color: red;
  color: white;
  border: 1px solid red;
  padding: 5px;
}

.wd-course-home .btn-primary-override {
  background-color: red;
  color: white;
  border-radius: 0px;
  border: 1px solid red;
}
.wd-course-home .btn-secondary-override {
  background-color: lightgray;
  color: black;
  border-radius: 0px;
  border: 1px solid gray;
}

.wd-course-home .form-select-override {
  background-color: lightgray;
  color: black;
  border-radius: 0px;
  border: 1px solid gray;
  width: auto;
}

.wd-course-home .btn-success-override {
  background-color: seagreen;
  color: white;
  border-radius: 0px;
  border: 1px solid seagreen;
  width: auto;
}

.wd-course-home .wd-course-status-btn {
  width: 100%;
  text-align: left;
  margin-top: 5px;
}

.wd-course-home .wd-calendar-link {
  color: red;
  text-decoration: none;
  background-color: transparent;
  border: none;
  text-align: start;
}

.wd-course-home h3 {
  font-size: 20px;
  color: lightslategray;
}

.wd-coming-up li > .wd-calendar-link > div > div > span,
.wd-coming-up li > .wd-calendar-link > div > svg {
  color: gray;
}

.wd-coming-up {
  list-style-type: none;
  padding: 0px;
}

.wd-coming-up li {
  margin-bottom: 10px;
}

.wd-coming-up li svg {
  margin-right: 10px;
}

button svg {
  margin-right: 8px;
  vertical-align: text-bottom;
}

.wd-coming-up svg {
  vertical-align: text-bottom;
}
