.wd-kanbas-navigation-sm {
  background-color: white;
  width: 100%;
  height: 100%;
}
.wd-kanbas-navigation-sm li {
  list-style: none;
}
.wd-kanbas-navigation-sm li {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1em;
  text-align: start;
}
.wd-kanbas-navigation-sm a {
  text-decoration: none;
  color: red;
}
.wd-kanbas-navigation-sm li.wd-active a {
  color: darkred;
  background-color: purple;
}
.wd-kanbas-navigation-sm svg {
  color: red;
  font-size: 2em;
  margin-right: 16px;
}

.wd-kanbas-navigation-sm svg.wd-account {
  color: white;
  border-radius: 50%;
  background-color: grey;
}
