body {
  margin: 0;
  padding: 0;
  line-height: 1.2em;
}
body * {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
}
td {
  padding: 0px;
  margin: 0px;
}
button > svg {
  margin-right: 8px;
  vertical-align: text-bottom;
}

.btn-primary-override {
  background-color: red;
  color: white;
  border-radius: 2px;
  border: 1px solid red;
}
.btn-primary-override:hover {
  background-color: darkred;
  border: 1px solid darkred;
}

.btn-secondary-override {
  background-color: lightgray;
  color: black;
  border-radius: 2px;
  border: 1px solid gray;
}

.form-select-override {
  background-color: lightgray;
  color: black;
  border-radius: 2px;
  border: 1px solid gray;
  width: auto;
}

.btn-success-override {
  background-color: seagreen;
  color: white;
  border-radius: 2px;
  border: 1px solid seagreen;
  width: auto;
}

.text-input-override {
  border-radius: 2px;
  border: 1px solid lightgray;
}

button svg {
  margin-right: 8px;
  vertical-align: text-bottom;
}

input.form-control-override {
  border-radius: 2px;
}
